# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

--SRC FILES--
/src/companies.txt
/src/listings.txt
/src/.listing.json
/src/BMstaging_Creds.json
/src/.nv-session.json
/src/.user_creds.json
/src/.nv-auth.json

--ROOT FILES--
/cmds.txt
/ToolStorm.txt
/ToolsTODO.txt
